.infos-zone
  display block
  position fixed
  top 0
  left 0
  width calc(100vw / 3)
  height 100vh
  background-color $color-white
  z-index 20
  overflow scroll

  &__back
    z-index 100
    position fixed
    top 3vh
    left 2vw

  p
    color $color-grey-light

  &__wrapper
    position relative
    margin 8vh 2vw
    float left
    //padding-left 25px

    .infos-zone__navbar-block
      float left
      width 5%
      margin-top 32px

      .infos-zone__navbar
        width 1px
        height 75vh
        background-color $color-grey-light

    .infos-zone__content-block
      float left
      width 95%
      .infos-zone__title
        color $color-grey-dark

        h1
          display inline-block
          margin-bottom 1vh

        img
          width 22px
          margin-left 10px

      .infos-zone__date
        margin-bottom 4vh

      .infos-zone__content
        margin-bottom 3vh

      .infos-zone__video
        width 100%
        margin-top 30px

      .infos-zone__outro
        color $color-grey-button
        margin-top 30px

      .infos-zone__link
        color $color-grey-dark
        display inline-block
        font-family PT Sans
        font-size 1.6rem
        font-weight normal
        padding-left 30px
        background-image url('/images/icon-link.svg')
        background-repeat no-repeat
        background-position 0%
        background-size 20px
        margin-right 25px
        cursor pointer
