.infos-zone
  display block
  position fixed
  top 0
  left 0
  width calc(100vw / 3)
  height 100vh
  background-color $color-white
  z-index 20

  p
    color $color-grey-light

  &__wrapper
    position relative
    margin 8vh 2vw
    padding-left 25px

    .infos-zone__title
      color $color-grey-dark


      h1
        display inline-block

      img
        width 22px
        margin-left 10px

    .infos-zone__date
      margin-bottom 6vh

    .infos-zone__content
      margin-bottom 6vh
