.infos-zone
  display block
  position fixed
  top 0
  left 0
  width calc(100vw / 3)
  height 100vh
  background-color $color-white
  z-index 20
  overflow scroll
  // transition width 0.2s ease-out

  .fade-enter-active, .fade-leave-active
    transition: opacity .3s

  .fade-enter, .fade-leave-to
    opacity 0

  &__previous-peek
    position relative
    float left
    margin-left 2vw
    margin-top 30px
  &__next-peek
    position relative
    float right
    margin-right 2vw
    margin-top 30px

  &.open
    width 50%

  &__back
    z-index 100
    position relative
    margin 3vh 2vw 0 2vw

  &__content-title
    cursor pointer

  p
    color $color-grey-light

  &__wrapper
    position relative
    margin 0 2vw
    width 90%
    display inline-block

    .infos-zone__navbar-block
      display inline-block
      width 1.5vw
      margin-top 40px

      .infos-zone__navbar
        width 1px
        background-color $color-grey-soft
        position relative

        .infos-zone__navbar-item
          width 16px
          height 16px
          border-radius 50%
          border 1px solid $color-grey-soft
          background-color $color-white
          display inline-block
          position absolute
          transform translate(-50%)
          left -5%

          &.first
            width 20px
            height 20px

          div
            width 6px
            height 6px
            background-color $color-grey-soft
            center-xy()
            border-radius 50%

            &.first
              width 10px
              height 10px


          &.active
            border 1px solid $color-yellow-peek

            div
              background-color $color-yellow-peek

    .infos-zone__content-block
      display inline-block
      width 90%
      position absolute
      .infos-zone__title
        color $color-grey-dark

        h1
          display inline-block
          margin-bottom 1vh
          cursor pointer

        img
          width 22px
          margin-left 10px

      .infos-zone__date
        margin-bottom 4vh

      .infos-zone__content
        margin-bottom 30px
        position absolute
        transition $transition-ui
        h4
          cursor pointer
        p
          line-height 2rem
          margin-bottom 0
        &.hidden
          opacity 0
          visibility hidden
          height 0

        .infos-zone__image-container
          width 100%
          margin-top 60px
          img
            width 30%
            margin-left 50%
            transform translate(-50%)
          p
            text-align center
            margin-top 30px

      .infos-zone__navbar-item
        width 16px
        height 16px
        border-radius 50%
        border 1px solid $color-grey-soft
        background-color $color-white
        display inline-block
        position absolute
        transform translate(-50%)
        left 0%
        margin-top 3px

        div
          width 6px
          height 6px
          background-color $color-grey-soft
          center-xy()
          border-radius 50%
          &.first
            width 10px
            height 10px


        &.active
          border 1px solid $color-yellow-peek

          div
            background-color $color-yellow-peek

      .infos-zone__video
        width 100%
        margin-top 30px

      .infos-zone__outro
        color $color-grey-button
        margin-top 30px

      .infos-zone__link
        color $color-grey-dark
        display inline-block
        font-family PT Sans
        font-size 1.6rem
        font-weight normal
        padding-left 30px
        background-image url('/images/icon-link.svg')
        background-repeat no-repeat
        background-position 0%
        background-size 20px
        margin-right 25px
        cursor pointer

.hidden
  opacity 0
  visibility hidden
