<div class="infos-zone">

  <div class="infos-zone__wrapper">

    <div class="infos-zone__navbar-block">

      <div class="infos-zone__navbar">

        <div class="infos-zone__navbar-item first active">

          <div class="first"></div>

        </div>

        <!-- <div class="infos-zone__navbar-item" ref="navitems" v-for="(content, index) in contents">

          <div></div>

        </div> -->

      </div>

    </div>

    <div class="infos-zone__content-block">

      <div class="infos-zone__title">

        <h1 @click="goBackToCategories"> {{ currentPiece.name }} </h1>

        <img src="/images/icon-peek-on.svg" alt="" v-if="peeked">
        <img src="/images/icon-peek-off.svg" alt="" v-else>

      </div>

      <div class="infos-zone__date">

        <p>{{ currentPiece.date }}</p>

      </div>

      <div class="infos-zone__content" v-for="(content, index) in contents" ref="contentinfos" v-show="categoriesDisplayed">

        <div class="infos-zone__navbar-item">

          <div></div>

        </div>

        <h4 class="infos-zone__content-title">{{ content.title }}</h4>

        <p>{{ content.intro }}</p>

        <button type="button" name="discover_button" class="infos-zone__dicover-button secondary-button" @click="fadeOutCategories(content, index)">Découvrir plus</button>

      </div>

      <!-- <div class="infos-zone__content" v-show="detailDisplayed" ref="details">

        <h4 @click="goBackToCategories">{{ selectedDetail.title }}</h4>

        <p>{{ selectedDetail.intro }}</p>

        <p>{{ selectedDetail.content }}</p>

        <video src="/videos/zoomorphisme-art-spieglman.mp4" poster="/images/poster.png" class="infos-zone__video" controls></video>

        <h4 class="infos-zone__outro">Aller plus loin</h4>

        <div class="infos-zone__link">

          Le juif éternel

        </div>

        <div class="infos-zone__link">

          Looney Tunes

        </div>

      </div> -->

    </div>

  </div>

  <router-link to="/"><button type="button" name="back_to_gallery" class="infos-zone__back back-button">Art Spiegelman</button></router-link>

</div>
