<html>
<body>
  Bonjour,</br>

  Merci d'avoir visité l'exposition d'Art Spiegelman à la Bpi !</br>
  Continuez votre découverte en retrouvant l'ensemble de vos œuvres peekées dans votre espace :</br>
  http://0.0.0.0:3000/submission</br>

  </br>
  Cordialement,</br>
  l'équipe peek et la Bpi
</body>
</html>
