<div class="page expo" ref="expoContainer">

  <fixed-navigation-component></fixed-navigation-component>
  <div class="expo__menu-button" @click="onMenuClick" ref="menuBtn">
    <div class="menu-icon"></div>
    <div class="menu-title">menu</div>
  </div>
  <div class="expo__titles">
    <h2>Expositions de la BPI</h2>
    <h1>Art Spiegelman</h1>
  </div>
  <div class="expo__filter">
    <div class="filter-name current" ref="currentFilter">
      mes peeks
    </div>
    <div class="filter-separator"></div>
    <div class="filter-name" ref="firstFilter">
      les + peekés
    </div>
    <div class="filter-separator"></div>
    <div class="filter-name" @click="onFilterClick" ref="secondFilter">
      toutes les oeuvres
    </div>
  </div>
  <div class="expo__bg-name" ref="bgPeekTypo">
    Mes peeks
  </div>
  <div class="expo__peeks-container">
      <div class="expo__peeks-scroll-container">
        <div class="peek-container" ref="peekContainer" v-for="(peek, index) in peeks_obj">
          <img class="peek-image" :src="peek.cover_url[0]" :alt="peek.name" @click="goDetails(index)" @mouseover="hoverCard" @mouseleave="leaveCard">
          <div class="peek-image-bg" v-if="isMultipleCover(index)"></div>
          <div class="peek-image-bg2" v-if="isMultipleCover(index)"></div>
          <p class="peek-container-name">
            {{ peek.name }}
          </p>
          <div class="peek-logo-container">
            <div class="peek-logo" @click="onPeekClick"></div>
            <div class="peek-logo-legend">dépeeker</div>
          </div>
          <div class="peek-date">
            {{ peek.date }}
          </div>
        </div>
      </div>
  </div>
  <!-- <peeks-component></peeks-component> -->
  <div class="expo__overlay" ref="overlay">
    <div class="expo__overlay-container">
      <div class="expo__overlay-content">
        <h1>Bienvenue !</h1>
        <p>Retrouvez ici toutes les oeuvres que vous avez peeké lors de vitre visite à</br>
          l'exposition Art Spiegelman et aprennez-en toujours plus sur ses travaux.</p>
        <div class="nav-indicator">
          scroller pour naviguer
        </div>
        <div class="nav-indicator-icon"></div>
      </div>
    </div>
  </div>
  <div class="expo__overlay-menu" ref="overlayMenu">
    <div class="expo__overlay-menu-container">
      <div class="expo__overlay-menu-content">
        <div class="menu-item-container">
          <h1 class="menu-item-txt">Toutes les expositions</h1>
          <div class="menu-item-arrow"></div>
        </div>
        <div class="menu-item-container">
          <h1 class="menu-item-txt">Mes peeks</h1>
          <div class="menu-item-arrow"></div>
        </div>
        <div class="menu-item-container">
          <h1 class="menu-item-txt">Informations pratiques</h1>
          <div class="menu-item-arrow"></div>
        </div>
        <div class="menu-item-container">
          <h1 class="menu-item-txt">À propos de Peek</h1>
          <div class="menu-item-arrow"></div>
        </div>
        <div class="menu-item-container">
          <h1 class="menu-item-txt">Mon compte</h1>
          <div class="menu-item-arrow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
