<div class="page expo" ref="expoContainer">
  <fixed-navigation-component></fixed-navigation-component>
  <menu-component></menu-component>
  <div class="expo__titles">
    <h2>Expositions de la BPI</h2>
    <h1>Art Spiegelman</h1>
  </div>
  <div class="expo__filter">
    <div id="filter-my-peek" class="filter-name current" @click="onFilterClick" ref="filterMyPeek">
      Mes peeks
    </div>
    <div class="filter-separator"></div>
    <div id="filter-most-peeked" class="filter-name" @click="onFilterClick" ref="filterMostPeeked">
      Les + peekés
    </div>
    <div class="filter-separator"></div>
    <div id="filter-all-pieces" class="filter-name" @click="onFilterClick" ref="filterAll">
      Toutes les oeuvres
    </div>
  </div>
  <div class="expo__bg-name" ref="bgPeekTypo">
    Mes peeks
  </div>
  <div class="expo__peeks-container">
      <div class="expo__peeks-scroll-container">
        <div class="peek-container" ref="peekContainer" @mouseover="hoverCard" @mouseleave="leaveCard" v-for="(peek, index) in peeks_obj">
          <div class="piece-container" v-if="isPiece(index)">
            <div class="peek-image-mask">
              <img class="peek-image" :src="peek.cover_url[0]" :alt="peek.name" @click="goDetails(index)">
            </div>
            <div class="peek-image-bg" v-if="isMultipleCover(index)"></div>
            <div class="peek-image-bg2" v-if="isMultipleCover(index)"></div>
            <p class="peek-container-name">
              {{ peek.name }}
            </p>
            <div class="peek-logo-container">
              <div class="peek-logo" @click="onPeekClick"></div>
              <div class="peek-logo-legend">dépeeker</div>
            </div>
            <div class="peek-date">
              {{ peek.date }}
            </div>
          </div>
          <div class="pieces-description-container" v-if="isCategoryDescr(index)">
            <div class="piece-description-title">
              {{ peek.title }}
            </div>
            <div class="piece-description-separator"></div>
            <p class="piece-description-txt">
              {{ peek.text }}
            </p>
          </div>
        </div>
        <div class="know-more" v-if="isMyPeek" ref="knowMore">
          <div class="know-more-title">
            Envie d'en voir plus ?
          </div>
          <div class="know-more-sub">
            Venez parcourir les oeuvre de Art Spiegelman, présentées dans le même</br>
            ordre  que la scénographie de l'exposition physique.
          </div>
          <div class="know-more-disco-container">
            <div class="discover-txt">
              découvrir les plus peekés
            </div>
            <div class="discover-arrow"></div>
          </div>
        </div>
      </div>
  </div>
  <!-- <peeks-component></peeks-component> -->
  <div class="expo__overlay" ref="overlay">
    <div class="expo__overlay-container">
      <div class="expo__overlay-content">
        <h1>Bienvenue !</h1>
        <p>Retrouvez ici toutes les oeuvres que vous avez peeké lors de votre visite de</br>
          l'exposition Art Spiegelman et apprenez-en toujours plus sur ses travaux.</p>
        <div class="nav-indicator">
          scroller pour naviguer
        </div>
        <div class="nav-indicator-icon"></div>
      </div>
    </div>
  </div>
</div>
