.input
  display block
  width 100%
  border none
  border-bottom 1px solid $color-yellow-peek
  line-height 2.4rem
  background none
  color $color-white

.cta-button
  display block
  padding 16px 20px
  color $color-yellow-peek
  font-size 14px
  cursor pointer
  text-transform uppercase
  transition $transition-ui
  &:before
    content ''
    position absolute
    left 0px
    top 80%
    height 1px
    width 40px
    background-color $color-yellow-peek
    transition $transition-ui
  &:hover
    color $color-white
    &:before
      width 100%
