.text-title
  font-weight 700
  font-size 1.7rem
  line-height 2.1rem

.text-body
  font-weight 500
  font-size 1.7rem

h1
  font-family Berlingske
  font-size 4.2rem
  font-weight 800
  margin 32px 0

h2
  font-family Berlingske
  font-size 1.7rem
  font-weight 800
  text-transform uppercase

h4
  font-family Berlingske
  font-size 2.6rem
  font-weight 600
  margin 10px 0

p
  font-family PT Sans
  font-size 1.7rem
  font-weight normal
  margin-bottom 20px
