.subdetails
  display block

  .subdetails__text
    p
      line-height 2rem
      margin-bottom 0

    .subdetails__image-container
      width 100%
      margin-top 60px
      img
        width 30%
        margin-left 50%
        transform translate(-50%)
      p
        text-align center
        margin-top 30px

  .subdetails__video
    width 100%
    margin-top 30px

  .subdetails__video__outro
    color $color-grey-button
    margin-top 30px

  .subdetails__video__link
    color $color-grey-dark
    display inline-block
    font-family PT Sans
    font-size 1.6rem
    font-weight normal
    padding-left 30px
    background-image url('/images/icon-link.svg')
    background-repeat no-repeat
    background-position 0%
    background-size 20px
    margin-right 25px
    cursor pointer
