body
  overflow-y hidden



::-webkit-scrollbar
  height 4px
// ::-webkit-scrollbar:hover
//   height 8px

::-webkit-scrollbar-thumb
    background rgba(255,255,255,0.5)


.home
  width auto
  overflow hidden
  &__intro-container
    position fixed
    top 20vh
    left 0
    padding-left 5vw
    width 35vw
    transition opacity 0.4s ease-out

    &.hidden
      opacity 0


    h1
      color $color-white
      font-size 6.2rem

    p
      color $color-grey-soft
      line-height 2.5rem
      margin-bottom 30px

    h4
      color $color-white

  &__expos-container
    position absolute
    top 25%

    .home__expos-scroll-container
      overflow-y hidden
      padding-left 40vw
      display inline-flex
      .home__expo-container
        position relative
        display inline-block
        margin-right 60px
        &-headline
          p
            font-size 14px
            color $color-grey-button

            span
              text-transform uppercase
              font-weight 600
        .home__image-container
          width 450px
          overflow hidden
          margin-bottom 20px
          img
            width 100%
            cursor pointer
            transition $transition-ui

          &:hover
            img
              transform scale(1.05)

        &-text
          width 420px
          color $color-white

          h2
            font-size 4.2rem
            margin 40px 0 20px 0
            cursor pointer
            text-transform none

          p
            line-height 2.5rem

        .secondary-button
          color $color-white

@media screen and (max-width: 640px)

  #main-wrapper
    overflow-y hidden

    .home__intro-container
      width 80vw
      top 10vh
      h1
        font-size 3.6rem
    .home__expos-container
      top 15vh

      .home__expos-scroll-container
        padding-left 90vw

        .home__expo-container
          width 90vw
          margin-right 10vw

          .home__image-container
            width 100%

          &-text
            width 100%
