body
  overflow-y hidden


.home
  width auto
  height 100%
  background-color $color-grey-dark
  overflow hidden
  white-space nowrap

  &__titles
    position relative
    color $color-white
    padding 40px 50px 0
    z-index 4

    h1
      color $color-white
      margin-bottom 0

    h2
      font-family "PT Sans"
      letter-spacing 3px
      font-size 13px
      color $color-grey-light

  &__menu-button
    position fixed
    float right
    top 5vh
    right 5vh
    z-index 5
    color white
    cursor pointer

    .menu-icon
      background url('/images/icons/icon-burger-menu.svg')
      width 29px
      height 23px
      float right
      transition $transition-ui

    .menu-title
      font-family "PT Sans"
      text-transform uppercase
      position relative
      font-size 1.4em
      font-weight bold
      letter-spacing 0.2em
      float left
      margin-top 4px
      margin-right 10px

  &__menu-button.opened
    .menu-icon
      background url('/images/icons/icon-fermer.svg')
      transition $transition-ui


  &__filter
    font-family "PT Sans"
    padding 15px 35px
    position relative
    display inline-block
    cursor pointer
    background-color $color-grey-dark

    .filter-name
      font-size 1.3em
      font-weight bold
      color $color-grey-middle
      text-transform uppercase
      margin-left 15px
      letter-spacing 0.2em
      display inline-block

      &:hover
        opacity 0.5

    .filter-name.current
      color $color-yellow-peek
      border-bottom 1px solid $color-yellow-peek
      padding-bottom 5px
      &:hover
        opacity 1

    .filter-separator
      display inline-block
      position absolute
      margin-left 5px
      width 1px
      height 15px
      background-color $color-grey-soft

      .filter-icon
        transform rotate(360deg)
  &__bg-name
    center-xy()
    opacity 0.5
    position fixed
    font-family "Berlingske"
    font-size 10em
    color $color-grey-bg
    z-index 0

  &__peeks-container
    position absolute
    top 60%
    transform translate3d(0%, -60%, 0)
    left 15%
    // z-index 3
    &__peeks-scroll-container
      overflow-y hidden
    .peek-container
      // width 300px
      display inline-block
      position relative
      padding 0 60px
      .peek-image
        width 250px
        cursor pointer
      .peek-container-name
        opacity 0
        width 219px
        font-family "Berlingske-DemiBold"
        color white
        font-size 17pt
        margin-top 10px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        transition $transition-ui
      .peek-logo-container
        opacity 0
        transition $transition-ui
        .peek-logo
          background url('/images/icons/icon-peek-on.svg')
          width 30px
          height 30px
          margin-top -40px
          float right
          cursor pointer
        .peek-logo-legend
          text-transform uppercase
          font-family "PT Sans"
          color $color-yellow-peek
          font-size 10px
          float right
      .peek-date
        opacity 0
        font-family "PT Sans"
        color $color-grey-light
        font-size 1.3em
        transition $transition-ui
    [class^='peek-container']:hover
      .peek-container-name
        opacity 1
      .peek-logo-container
        opacity 1
      .peek-date
        opacity 1

  &__overlay
    position absolute
    display flex
    top 0
    width 100%
    height 100%

  &__overlay-container
    position fixed
    min-width 100%
    min-height 100%
    background-color black
    opacity 0.8
    z-index 10

  &__overlay-content
    display inline-block
    text-align center
    color white
    center-xy()

    .nav-indicator
      font-family "PT Sans"
      text-transform uppercase
      font-size 1.5em
      margin-top 50px

    .nav-indicator-icon
      background url('/images/icons/icon-scroll.svg')
      width 22px
      height 59px
      margin 20px auto 0 auto

  &__overlay-menu
    position absolute
    display none
    top 0
    width 100%
    height 100%
    transition $transition-ui

  &__overlay-menu.opened
    display flex
    transition $transition-ui

  &__overlay-menu-container
    position fixed
    min-width 100%
    min-height 100%
    background-color black
    opacity 0.9
    z-index 4

  &__overlay-menu-content
    font-family "Berlingske-ExtraBold"
    display inline-block
    color white
    center-xy()

    .menu-item-container
      padding 20px 0

    .menu-item-txt
      display inline-block
      margin 0
      cursor pointer
      &:hover
        opacity 0.8

    .menu-item-arrow
      display inline-block
      top -10px
      position relative
      left 20px
      background url('/images/icons/icon-fleche-1-grand-format.svg')
      width 32px
      height 13px

::-webkit-scrollbar
  height 4px
// ::-webkit-scrollbar:hover
//   height 8px

::-webkit-scrollbar-thumb
    background rgba(255,255,255,0.5)
