.fixed-navigation
  position absolute
  z-index
  top 0
  left 0
  width 100vw
  height 12vh

  &__logo
    center-x()
    position fixed
    color $color-white
    top 3vh
    z-index 5
    img
      width 4vw

  &__menu-button
    position fixed
    float right
    top 3vh
    right 3vw
    z-index 4
    color white
    cursor pointer

    .menu-icon
      background url('/images/icons/icon-burger-menu.svg')
      width 29px
      height 23px
      float right
      
    .menu-title
      font-family "PT Sans"
      text-transform uppercase
      font-size 1.4em
      font-weight bold
      letter-spacing 0.2em
      float left
      margin-top 4px
      margin-right 10px
