.fixed-navigation
  position fixed
  top 0
  left 0
  width 100vw
  height 12vh
  z-index 1000

  &__logo
    center-x()
    color $color-white
    top 3vh
    img
      width 4vw

  &__expo-button
    position fixed
    top 3vh
    right 3vw
