.fixed-navigation
  position absolute
  z-index
  top 0
  left 0
  width 100vw
  height 12vh

  &__logo
    center-x()
    position fixed
    color $color-white
    top 3vh
    // z-index 5
    cursor pointer
    img
      width 4vw
