$color-black = #000000
$color-white = #FFFFFF

$color-pink = #FC948B
$color-orange-soft = #FFE3CF
$color-orange = #F7B787
$color-orange-dark = #F0CEBD
$color-grey-dark = #2A2929
$color-grey-medium = #6D6B6B
$color-grey-light = #908A86
$color-grey-soft = #BAB5B1
$color-grey-button = #77726E
$color-blue-light = #638891
$color-blue-light2 = #79A7AF
$color-blue-dark = #4F6D72
$color-almost-white = #FCFCFC
$color-grey-bg = #D8D8D8

$color-yellow-peek = #FCC854
