// $font-quicksand = 'Quicksand', helvetica, arial, sans-serif
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family "Berlingske"
  src url("/fonts/Berlingske-Demi-Bold.ttf");
}
@font-face {
  font-family "Berlingske-DemiBold"
  src url("/fonts/Berlingske-Demi-Bold.ttf");
}
@font-face {
  font-family "Berlingske-ExtraBold"
  src url("/fonts/Berlingske-ExtraBold.ttf");
}
@font-face {
  font-family "PT Sans"

}
