// $font-quicksand = 'Quicksand', helvetica, arial, sans-serif
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family "Berlingske"
  src url("/fonts/Berlingske.ttf");
}
@font-face {
  font-family "PT Sans"
  
}
